/* src/components/CharacterList.css */
.character-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .character-item {
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .character-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .page-item {
    margin-right: 5px;
  }
  
  .page-link {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    text-decoration: none;
  }
  
  .active {
    background-color: #2980b9;
  }
  